.product-tabs-slider{
	position:relative;
}
.lab_tabs{
 /*   background: url("img/bg_line.png") repeat-x scroll left 5px rgba(0, 0, 0, 0);*/
    margin: 0 15px 60px ;
    text-align: center;
	
}
.tabs{
	display:inline-block;
	position:relative;
	margin:0;
	background:#fff;
}
.product-tabs-slider li::after {
	content: "|";
	color: #e1e1e1 !important;
	padding-left: 20px;
}
.tabs li{
   /* background: url("img/icon_1.png") no-repeat scroll right center ;*/
    color: #cacaca;

    display: inline;
    float: left;
    font-family: "Oswald",sans-serif;
    font-size: 22px;
   
    padding-right: 25px;
    text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}
.tabs li:hover,
.tabs li.active{
	color:#383838;
}
.tabs li.first_item{
	margin:0;
	padding-left: 25px;
}
.tabs li.last_item {
	background:none;
}

.sliderLoadingTab {
	background: rgba(0, 0, 0, 0) url("img/loading.gif") no-repeat scroll center center;
	display: block;
	height: 62px;
	margin: 60px auto 80px;
	text-align: center;
	text-indent: -9999em;
	width: 60px;
}
@media (max-width: 480px){
	.tabs li{
		font-size: 14px;
		padding-right: 15px;
		float: none;
	}
	.tabs li.first_item{
		padding-left: 15px;
	}
	.product-tabs-slider .lab_boxnp{
		display:none;
	}
	.box-cart-bottom .box-cart{
		margin:0;
	}
}
