/**************************************************************
          Responsive Styles
***************************************************************/
a{outline: none;}
.lab_logo {
    padding: 13px 0px;
    position: relative;
    z-index: 9;
}
.header-right {
  width: 87%;
}
.lab_logo  {
  width: 13%;
}
#currencies-block-top ul ,#languages-block-top ul {
 z-index: 100;
 
}
 .biz-group-content .lab_boxnp {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    display: block;
    height: 80px;
    margin-top: 9px;
    position: absolute;
   width: 72px;
   top: 0px;
   margin-right: 15px;
   right: 0px;

 }
 .header_user_info li a::after {
    border-right: 1px solid rgb(87, 87, 87);
    content: "";
    display: inline-block;
    height: 10px;
    padding-left: 15px;
    top: 15px;
}
.block_cart_search {z-index: 9}
.labpolicy .container-i h4::before {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    bottom: 50px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 30px;
}
#currencies-block-top ul li,#languages-block-top ul li{

 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 border-right: 1px solid rgba(0, 0, 0, 0.1);
 border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.flex-direction-nav{display: none;}
#lab-slideshow:hover .flex-direction-nav{display: block;}
.header-right{
    left: auto;
    position: absolute;
    top: 0;

}
.flex-direction-nav { top:35%;}
.header-right-bot{clear: both;position: relative;}
.labmegamenu {
    float: none;
    width: 100%;
}
.box-cart-bottom .buttons_bottom_block {
 margin : 15px 15px 0 0;
}

/*.lab_custommenu div.column{margin-right: 0px;}*/
/*.lab_custommenu div.popup{width: 100% !important;}*/
.lab_custommenu .menuCenter{position: static;margin: 0;padding:0;display: block;}
/*.lab_custommenu div.popup .block1{float: none;padding:0 20px;width: auto !important;}*/
.block_cart_search{top: 0px;}
#search_block_top {
    float: right;
    position: relative;
}
.block_cart_search.fixed {
  position: fixed;
  right: 0;
  z-index: 99;
}

.lab_custommenu div#lab_menu_home.lab_menu .parentMenu a{height: 105px;}
/*#search_block_top .current{line-height: 75px;}*/
.ma-nav-mobile-container, .nav-container, .lab_custommenu, .lab_custommenu .menuCenter, .lab_custommenu div.lab_menu{height: auto;}
.labmegamenu.fixed .lab_custommenu{float: none}
.labmegamenu.fixed.scroll-menu{float: none;z-index: 100;}
.termi-info-txt {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.media-content {
    display: inline-block;
    position: relative;
}
.paypal  p{
    float:right;
}
.product-tabs-slider li.last_item::after{content: ""}
@media (max-width: 1199px) {
.header-right {
  width: 87%;
}
  .shopping_cart > a{
    line-height: 80px;
  }
  #newsletter_block_left .form-group .btn{
    width: 75px;font-size: 10px;
  }
  #newsletter_block_left .form-group .inputNew{font-size: 11px;}
}
@media (min-width: 980px) and (max-width: 1199px) {
  .content_sortPagiBar .sortPagiBar #productsSortForm{
    padding: 0;
    float: none;
  }
  .banner-home-text {
    min-height:auto;
  }
}
@media (max-width: 1100px) {
  .shopping_cart .ajax_cart_no_product, .shopping_cart .ajax_cart_quantity{
    top:20px;
    right: 7px;
  }
  .lab_custommenu div.lab_menu .parentMenu a{padding:15px;}
  #lab-slideshow .lab_description.left .description .des-big, .description .des-big {
      font-size: 3.2em;
  }
  .nivo-caption .title {
      font-size: 2em;
  }
  #lab-slideshow .lab_description.left .title {
      letter-spacing: 10px;
  }
}
@media (max-width: 991px) and (min-width: 799px){
   .box-info-product .exclusive span {
      line-height: 35px;
    }
  /*.labmegamenu.fixed .ma-nav-mobile-container, .labmegamenu.fixed .nav-container{display: block !important;}*/
  /*.labmegamenu.fixed .navmenu-mobile{display: none !important;}*/
  .lab_custommenu div.column{width: 125px;}
}
/****Thuc***/
@media (max-width:990px) {
  #search_block_top .toogle_content {

    top:65px;
  }
  .shopping_cart .ajax_cart_no_product, .shopping_cart .ajax_cart_quantity{
    top: 15px;
  }
  .shopping_cart a i, .header-userinfo .current i, .labNav .current i {
    padding: 0;
  }
.container {
      max-width: 100%;
  }
  .labmegamenu .container{
    padding-right: 0px;
  }
.lab_logo{
  padding: 0;
}
.shopping_cart a i,#search_block_top .current ,.shopping_cart > a{
  line-height: 65px;
}
  .header-right {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

  .lab_boxnp .prev.prevmanufac {
    left: -15px;
}

  .arrow {
    font-size: 45px;
  }

    .lab_boxnp .prev, .lab_boxnp .next{
        top: 29%;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

  }

@media (max-width: 980px){
  .tab_category {
    padding: 0 15px;
  }
  .nivo-caption .lab_description {
    top: 20%;
}
#usefull_link_block li{
  float: left;
  display: inline-block;
  }
#usefull_link_block {
    float: left;
    margin-right: auto;
    margin-top: 20px;
}
.content_sortPagiBar {
    border-bottom:none;
}
}

@media (max-width: 991px) {
  .shopping_cart a i, .header-userinfo .current i, .labNav .current i {
    padding: 0;
  }
  .container {
      max-width: 100%;
  }

  #newsletter_block_left .form-group .btn {
      font-size: 9px;
      width: 60px;
  }
  .footer-container #footer ul li{line-height: 20px;}
  .mean-container a.meanmenu-reveal{top: 0px;margin-right: 43%;}
  .mean-container .mean-nav{margin-top: 75px;}
  .top-link{margin-left: 0px;z-index: 99;position: relative;padding-right:0px;}
 
  .mean-container .mean-bar{position: relative;float: none;}
  .mean-container .mean-bar{margin-left: 0px;}
  .labmegamenu.fixed.scroll-menu .container{max-width: 100%;}
  .labmegamenu.fixed .mean-container .mean-nav{margin-top: 77px;}
  #lab-slideshow .lab_description.left .description .des-big, .description .des-big {
      font-size: 2.5em;
      line-height: 1.3em;
  }
  .nivo-caption .title {
      font-size: 1.5em;
  }
  #lab-slideshow .lab_description.left .title {
      letter-spacing: 10px;
  }
  .description.animated.a2{padding-top: 15px;}
  .description .des-small{
    padding: 10px 0 25px;
  }
  .shopnow.animated.a3 > a {
      font-size: 0.8em;
      padding: 5px 25px;
  }
 
  .no-center-gutter .row.hidden-xs.hidden-sm {
      display: block !important;
  }
 /* */
  #best-sellers_block_right .box-info-product .exclusive {
    padding: 0
  }
  .content_sortPagiBar .sortPagiBar #productsSortForm {
    padding: 0 20px;
  }
  .block .title_block::after, .block h4.title_block::after {
    border: medium none;
}
}
@media (max-width: 798px) {
    .paypal  p{
        float:none;
    }
.labmegamenu.fixed .menuCenter{display: none;}
  .labmegamenu.fixed .mean-container .mean-bar {
      float: none;
      position: absolute;
      width: 100%;
  }
  .labmegamenu.fixed .ma-nav-mobile-container, .labmegamenu.fixed .nav-container{display: block !important;}
  .labmegamenu.fixed .mean-container a.meanmenu-reveal{right: 0px !important;}

}
/***Thuc**/
@media (max-width:768px) {
  .biz-group-content .lab_boxnp {
    margin-top: 9px;
}
.biz-group .bottomItem{
  overflow: unset;
}
.biz-group .topItem{
  padding-right: 15px;
}
/*.logo{

  width: 100%;
}
*/

  .labpolicy .container-i h4::before {
    content: "";
    background: rgba(0,0,0,0);
  }
 a.flex-prev  {
    text-indent: -8px;
    }
    .flex-next .arrow::before {
        left: 43%;
    }
    .flex-prev .arrow::before {
        left: 55%;
    }
    .flex-prev .arrow::before,.flex-next .arrow::before  {
    font-size: 25px;
    }

  #view_scroll_left {
        left: 15px;
    }
    .tab_category {
      padding: 0 45px;
    }
 .arrow {
    font-size: 25px;
  }
#thumbs_list li {
    margin-left: 10px;
    margin-right: 10px;
}
 .arrow {
    font-size: 25px;
  }
    #thumbs_list {
    width: 338px;
    }
    #view_scroll_right{
        right: -69px;
    }
    .labnextprev {
        right: 48px;
    }
  .nivo-caption .title {
    font-size: 20px;
}
.description .des-small {
    font-size: 12px;
}
  #view_scroll_left {
        left: 15px;
    }
 .arrow {
    font-size: 25px;
  }
#thumbs_list li {
    margin-left: 10px;
    margin-right: 10px;
}
 .arrow {
    font-size: 25px;
  }
    #thumbs_list {
    width: 338px;
    }
    #view_scroll_right{
        right: -69px;
    }
    .labnextprev {
        right: 48px;
    }
  
  .shopnow.animated.a3 > a {
    font-size: 9px;
    padding: 3px 15px;
}
.description .des-small {
  padding: 5px 0;
}
#lab-slideshow .lab_description.left .description .des-big, .description .des-big{
  font-size: 30px;
}
.description.animated.a2 {
  padding-top: 15px;
}

#lab-slideshow .lab_description.left .title {
    letter-spacing: 6px;
}
   /* .block .title_block::after, .block h4::after {
        content: "";
    }*/
    #best-sellers_block_right .block_content {
        display: block!important;
    }
#productscategory_list .lab-compare ,#productscategory_list .lab-Wishlist{
  width: 35px;
  height: 35px;

}
#productscategory_list .bottomItem .lab-cart .button {
  height: 35px;
}
#productscategory_list .bottomItem .lab-cart .button span {
  line-height: 35px;
  font-size: 10px;
}
    .lablistproducts .bottomItem .lab-cart .button {
        margin: 0 5px;
    }
    .lablistproducts .bottomItem .lab-cart .button span{
        padding: 0 10px;
    }
#productscategory_list .lab-price .price ,#productscategory_list .bottomItem .product-name ,#productscategory_list .old-price.product-price{
  font-size: 13px;
}
#productscategory_list .icon-heart ,#productscategory_list .icon-retweet {
    font-size: 12px;
    line-height: 35px;
}
 #quantity_wanted_p label, .pb-center-column #buy_block label{
    display: block;
    float: none;
  }   
  #best-sellers_block_right .box-info-product .exclusive {
    font-weight: normal;
    padding: 8px 15px;
}
.box-info-product .exclusive span {
  font-size: 11px;
}

.block .title_block::after, .block h4::after{
    border: none;
}

}

/***Thuc****/
@media (min-width: 768px) and (max-width:990px) {
#productscategory_list .lab-compare ,#productscategory_list .lab-Wishlist{
  width: 35px;
  height: 35px;

}
#productscategory_list .bottomItem .lab-cart .button {
  height: 35px;
}
#productscategory_list .bottomItem .lab-cart .button span {
  line-height: 35px;
  font-size: 11px;
}
#productscategory_list .lab-price .price ,#productscategory_list .bottomItem .product-name ,#productscategory_list .old-price.product-price{
  font-size: 13px;
}
#productscategory_list .icon-heart ,#productscategory_list .icon-retweet {
    font-size: 12px;
    line-height: 35px;
}
 #quantity_wanted_p label, .pb-center-column #buy_block label{
    display: block;
    float: none;
  }   
  #best-sellers_block_right .box-info-product .exclusive {
    font-weight: normal;
   padding: 0;
}


  }



@media (max-width: 767px){
    .lablistproducts2 .item {
    float: left;
    margin-bottom: 30px;
    overflow: hidden;
    width: 33.33%;
}
   #left_column .banner-inner .banner-inner-content  ,#right_column .banner-inner .banner-inner-content{
    width: 50%;
    }
    .block .title_block::after, .block h4::after{
    content: "";
  }
    #best-sellers_block_right h4.title_block::after {
      content: "";
    }
  .bottomFooter .row > div{text-align: center;}
  .bottomFooter .row > div .pull-right{float: none !important;}
  .lab-static .col-xs-12.no-left-gutter{width: 33.3333%;float: left;padding-right: 5px;}
  .lab-static .col-xs-12.no-center-gutter{width: 33.3333%;float: left;padding-right: 5px;padding-left: 5px;}
  .lab-static .col-xs-12.no-right-gutter{width: 33.3333%;float: left;padding-left: 5px;}
  .text-banner h2{font-size: 15px;}
  .text-banner h3{font-size: 20px;line-height: 1.3em;}
  .banner-inner-content .banner-position{bottom: 35px;}
  .no-center-gutter .row.hidden-lg.hidden-sm.hidden-md {
      display: none !important;
  }
  .banner-top .banner-inner-content{padding:10px 0px 0px;}


}
@media (max-width: 710px){
  .banner-inner-content .banner-position{bottom: 28px;}
}
@media (max-width: 680px) {
 /* .lab_logo {
    padding: 15px 0;
}*/
  #search_block_top .current, .shopping_cart > a {
    line-height: 55px;
}
  .mean-container a.meanmenu-reveal {
    margin-right: 40%;
  }
  #currencies-block-top div.current, #languages-block-top div.current{padding: 10px;}
  .banner-inner-content .banner-position{bottom: 20px;}
  .banner-home-text {
      min-height: 130px;
  }
}
@media (max-width: 610px) {
  .lab_logo {
    padding: 10px;
  }
  .header_user_info p, .header_user_info a {
    font-size: 11px;
  }
#lab-slideshow .lab_description.left .description .des-big, .description .des-big{
  font-size: 15px;
}
.nivo-caption .lab_description {
    top: 6%;
}
.nivo-caption .title{
  font-size: 10px;
}
.description .des-small{
  font-size: 8px;
  letter-spacing: 3px;
}
  .no-center-gutter .row.hidden-lg.hidden-sm.hidden-md {
      display: block !important;
  }
  .no-center-gutter .row.hidden-xs.hidden-sm {
      display: none !important;
  }
  .lab-static .col-xs-12.no-left-gutter{width: 100%;float: none;padding-right: 15px;}
  .lab-static .col-xs-12.no-center-gutter{width: 100%;float: none;padding-right: 15px;padding-left: 15px;}
  .lab-static .col-xs-12.no-right-gutter{width: 100%;float: none;padding-left: 15px;}
  .top-link .header_user_info.header_block{display: none;}
  .header_user_info li a::after{padding-left: 10px;}
  .header_user_info a{padding:0px 5px;}
  .logo {
      height: auto;
    /*  width: 80%;*/
  }
  #search_block_top .current, .shopping_cart > a {
      line-height: 66px;
  }
  .mean-container .mean-nav {
      margin-top: 66px;
  }
  #currencies-block-top, #languages-block-top{width: auto;}
  .shopping_cart{padding-top: 0px;}
  #search_block_top .toogle_content{top: 66px;}
  #lab-slideshow .lab_description.left .description .des-big, .description .des-big {
      font-size: 2.0em;
  }
  .nivo-caption .title {
      font-size: 1.0em;
  }
  .description.animated.a2{padding-top: 12px;}
  .description .des-small{
    padding: 6px 0 12px;
  }
  .shopnow.animated.a3 > a {
      font-size: 0.7em;
      padding: 5px 12px;
  }
  #lab-slideshow .lab_description.left .title {
      letter-spacing: 6px;
  }
  .description.animated.a2 {
      letter-spacing: 5px;
  }
  .flex-control-nav{display: none;}
  /*.nivo-caption .lab_description{top: 38%}*/
}
@media (max-width: 586px){
  .product-tabs-slider li::after{padding-left: 10px;}
  .product-tabs-slider .tabs li{padding-right: 10px;font-size: 20px;}
  .lablistproducts .bottomItem .lab-cart .button{height: 32px;}
  .lablistproducts .bottomItem .lab-cart .button span, .lablistproducts .boxbottom .lab-cart .button span{padding:0 15px;line-height: 30px;}
  .lab-compare, .lab-Wishlist,.grid_content .button.ajax_add_to_cart_button span {width: 35px;height: 35px;}
       .grid_content .button.ajax_add_to_cart_button span   {padding: 5px 8px; }
  .lab-Wishlist a i{line-height: 35px;}
  .lab-compare a i{line-height: 32px;}
}

/****Thuc***/
@media (max-width: 480px) {

  .header_user_info a {
    font-size: 11px;
}
  .nivo-caption .lab_description {
    top: 0;
  }
  .more-info-ii {
    height: auto;

  }
  .more-info #more_info_tabs li {
    display: block;
  }
  .col-mobile {
    width: 100%;
  }
  #category .right-block {
    text-align: left;
    margin-top: 15px;
  }
}

@media (max-width: 460px){
  .product-tabs-slider .tabs li{font-size: 15px;}

}
@media (max-width: 425px) and (min-width: 361px){
   #header .header-top-link .dropdown-switcher {
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(225, 225, 225);
      min-width: 150px;
      opacity: 0;
      padding: 10px 15px;
      position: absolute;
      right: 0;
      top: 50%;
      transition: all 300ms ease-in-out 0s;
      visibility: hidden;
      z-index: 35;
  }
  .lab_logo  {
  width: 100%;
}
  .header_user_info li {
    display: block;
    padding:5px 0;
    float: none;
  }
  .dropdown-toggle {
    display: block;
  }
  .header_user_info li a::after {
    border-right: none;
  }

  .dropdown-toggle .icon-switcher i {
    color: #fff;
  }
  .header_user_info span{
    display: none;
  }
  .header-top-link ul li a{
      color: rgb(51, 51, 51);
      font-size: 13px;
  }
  .dropdown-toggle {
      display: block;
      padding-right: 90%;
      padding-top: 10px;
  }
 
}
@media (max-width: 425px){
  .header_user_info li a::after {
    border-right: none;
  }
.nivo-caption .lab_description {
    top: 5%!important;
}
.shopping_cart a i, #search_block_top .current, .shopping_cart > a{
  line-height: 40px;
}
  .lab_logo{
  padding: 5px 0;
  width: auto;
}
.logo_container{
  margin: 0 ;
  padding: 0;
}
.labheader.fixed {
  position: relative;
}
  .labmegamenu.fixed .navmenu-mobile{top: 18px;}
  .labmegamenu.fixed .mean-container .mean-nav{margin-top: 59px;}
  .logo{width: 80% }
  .header-right {
      border: 0 none;
      height: 30px;
      padding: 0 !important;
      top: 12px;
      background: #333;
  }
  #currencies-block-top div.current, #languages-block-top div.current {
      padding: 5px 10px;
  }
  
  .dropdown-toggle{padding-top: 5px;}
  #currencies-block-top, #languages-block-top, .top-link, .header_user_info{height: 30px;}
  #currencies-block-top ul, #languages-block-top ul, #header .header-top-link .links-switcher:hover .dropdown-switcher{top: 30px; }
  
.links-switcher:hover .dropdown-switcher {
  left: -60px;
}
  .mean-container .mean-nav {
      margin-top: 38px;
  }
  .mean-container a.meanmenu-reveal{padding:10px;top: -1px;}
  #search_block_top .current, .shopping_cart > a {
      line-height: 38px;
  }
 /* .shopping_cart a i, .header-userinfo .current i, .labNav .current i{padding: 11px 15px;}*/
  .shopping_cart .ajax_cart_no_product, .shopping_cart .ajax_cart_quantity{right: 26px;top: 5px;}
 /* #lab-slideshow, .lab-nivoSlideshow{padding-top: 66px;}*/
  .header-right-bot {
      background: #fff none repeat scroll 0 0;
  }
  .mean-container a.meanmenu-reveal{left: 0px ;right: auto }
  .navmenu-mobile{z-index: 8;}
  .lab_right{
    z-index: 9;
  }
  #search_block_top .toogle_content{top: 38px;}
  .labmegamenu.fixed .mean-container a.meanmenu-reveal{left: auto !important;}
  #lab-slideshow .lab_description.left .description .des-big, .description .des-big {
      font-size: 1.3em;
  }
  .nivo-caption .title {
      font-size: 0.7em;
  }
  .description.animated.a2{padding-top: 10px;}
  .description .des-small{
    padding: 6px 0 10px;
  }
  .shopnow.animated.a3 > a {
      font-size: 0.7em;
      padding: 5px 10px;
  }
  #lab-slideshow .lab_description.left .title {
      letter-spacing: 6px;
  }
  .description.animated.a2 {
      letter-spacing: 5px;
  }
  .nivo-caption .lab_description{top: 5%}
  .description.animated.a2 {
    padding: 0;
  }
  .description .des-small {
    padding: 0 0 5px;
}
.shopnow.animated.a3 > a {
    font-size: 6px;
    padding: 5px 10px;
}
}

@media (max-width: 378px){
  .product-tabs-slider .tabs li {
      display: block;
      float: none;
      font-size: 20px;
      line-height: 35px;
      width: 100%;
      padding-left: 0px;
  }
  .product-tabs-slider .tabs li::after{content: "";padding: 0px;}
  .blockPosition1 .title_block::after, .lab_tabs::after{top: 110px;}
   .header_user_info{
      right: 30%;
      position: absolute;
    }
}

@media (max-width:360px) {

  .shopping_cart a i,#search_block_top .current ,.shopping_cart > a{
  line-height: 40px;
}
  .content_sortPagiBar .sortPagiBar #productsSortForm {
    padding: 0 ;
}
    .header-right.fixed {
    position: relative;
}
    .pb-left-column #views_block{
        padding: 0;
        width: 100%;
    }
    #thumbs_list li {
        margin-left: 5px;
        margin-right: 5px;
    }
    #thumbs_list {
        width: 100%;
    }
    #view_scroll_left {
        left: -10px;
    }
    #best-sellers_block_right .labnextprev {
        right: 50px;
    }

}






/*
      Cus tom 27-11
*/
.flex-control-paging li a {
  width: 12px;
  height: 12px;
}
.arrow {
    font: 45px/1 FontAwesome;
}
.lab_boxnp .prev:hover, .lab_boxnp .next:hover,.buttons_bottom_block #wishlist_button_nopop:hover::before,.box-info-product .exclusive:hover {
  border:1px solid rgba(0, 0, 0,0);
}
.item:hover .topItem .lab-img .quick-view {
   background: rgba(252, 255, 255, 0.9) none repeat scroll 0 0;
   }
   div.star.star_on::after {
    color: #ce9634;
   }
   div.star::after{ 
     content: "";
    color:#dddddd;
 }
 .lab-Wishlist:hover, .lablistproducts .bottomItem .lab-cart .button:hover, .lab-compare:hover, .box-info-product a:hover, .grid_content .ajax_add_to_cart_button span:hover{
  border:1px solid rgba(0, 0, 0,0);
 }
.old-price {
 color: rgb(197, 197, 197);
  }
  .old-price.product-price{
    font-size: 13px;
    font-family: "oswald";
    margin-right: 10px;
  }
  .lablistproducts .bottomItem .lab-cart .button span, .lablistproducts .boxbottom .lab-cart .button span{
    font-weight: normal;

  }

.lablistproducts .bottomItem .h5product-name {
  font-family: "oswald";
  font-weight:normal;
}
.blockPosition2 .lab_testimonials {
  padding: 45px 0;
   background: rgba(0, 0, 0, 0) url("../img/lab_noraure/lab-bg-client.jpg") no-repeat scroll center center/cover;
}
.blockPosition3 {
    background: rgba(0, 0, 0, 0) url("../img/lab_noraure/bg-policy.jpg") no-repeat scroll center center/cover;
}

.lab_testimonials .lab_title::after {
 background: rgba(0, 0, 0, 0) url("../img/lab_noraure/bottom-title.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 13px;
    left: 50%;
    margin-left: -44px;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 88px;
}
.blockPosition2 .lab_testimonials {
  margin-bottom: 70px;
}
.lab_tabs {

  margin: 0 15px 45px;
}
.smartBlog h2.labname a { 
color:#3f3f3f;
}
.sdsblog-box-content .short_description a:hover,.smartBlog h2.labname a:hover {
   color: rgb(206, 150, 52);
} 
.labpolicy .container-i h4 {
  text-transform: uppercase;
   margin: 25px 0;
}


.labpolicy .container-i p {
  margin-bottom: 5px;
}
.labpolicy {
    padding: 65px 0;
}
.footer-container #footer ul li a {
    text-shadow: none;
}
.topFooter .footer-block ul li a {
  font-family:"Roboto";
}
.topFooter .footer-block ul li a::before {
  content: "";
}
.footer-container #footer { 
  background:#212121;
}
#social_block ul li {
  margin-right: 15px;
}
.topFooter .footer-block ul li:hover{
  padding-left: 5px;
 
}
#social_block ul li:hover
{
  background: rgb(206, 150, 52) none repeat scroll 0 0;
  border:1px solid rgba(0, 0, 0,0); 
}
#newsletter_block_left .form-group .btn{
  border: none;
}
.right-block .product-name{
  font-family: "Roboto";
  font-size: 15px;
  color: rgb(116, 116, 116);
}
.right-block .product-name:hover {
  color: #ce9634;
}
.h5product-name a:hover {

  color:#ce9634;
}
.right-block .h5product-name {
  padding: 0;
  font-weight: normal;
}
.right-block .lab-price {
    margin-bottom: 10px;
}
#category .list .item .comments_note {
  margin-bottom: 5px;
}
.lablistproducts .right-block .bottomItem {
  padding: 10px 0;
  float: left;
}
.button ,.button.ajax_add_to_cart_button.btn.btn-default {
    color: rgb(119, 119, 119);
    font-family: Oswald;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow:none;
}

.content_sortPagiBar.clearfix{
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: none;
}
ul.product_list.grid > li .product-container h5 {
  padding-top: 5px;
}
.content_sortPagiBar .display li a i, .content_sortPagiBar .display_m li a i{
font-size: 18px;
}

#pQuantityAvailable span ,#quantity_wanted_p label, .pb-center-column #buy_block label,#pQuantityAvailable label{
      color: rgb(137, 137, 137);
    font-size: 13px;
    line-height: 14px;
    font-weight: normal;
}
#product_condition span ,#product_reference span{
 color: rgb(206, 150, 52);
}
#availability_value, #last_quantities {
  margin-left: 39px;
}
.product_attributes, .box-cart-bottom {
    border-top: 1px dotted rgb(237, 237, 237);
  }
  
  #usefull_link_block {
    float: right;
    list-style-type: none;
    padding-top: 0px;
}

.sendtofriend span ,.print span {
  display: none;
}
#usefull_link_block li ,#usefull_link_block li:first-child{
    padding: 6px 12px;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0;
    clear: none;
    float: left;
    border-radius: 100%;
    margin-left: 10px;
   
}
#usefull_link_block li a::before {
  color: rgb(117, 117, 117);
}
#usefull_link_block li:hover {
  background: rgb(206, 150, 52) none repeat scroll 0 0;
  color: #fff;
   border:1px solid rgba(0, 0, 0,0); 
}
#usefull_link_block li:hover a::before {
  color: #fff;
}
#usefull_link_block li a:hover {
  border: none;
}
#usefull_link_block ,.socialsharing_product  {
  margin-top: 30px;
  padding-left: 10px;
}

#usefull_link_block li a::before {
    color: rgb(51, 51, 51);
    font-family: "FontAwesome";
    font-size: 15px;
    font-weight: normal;
    left: 0;
    line-height: 0;
    position: absolute;
    top: -2px;
}
#usefull_link_block {
  margin-right: 85px;
  margin-top: -40px;
}

#thumbs_list ul#thumbs_list_frame {
  display: inline-block;

}
#thumbs_list ul#thumbs_list_frame {
  height: 110px;
}
@media (max-width: 1200px){

#usefull_link_block {

margin-right: auto;
}
}

@media (max-width:680px){
.content_sortPagiBar .display, .content_sortPagiBar .display_m {
  height: auto;
  margin: 0;
  }



}
@media (max-width:500px){
.content_sortPagiBar .sortPagiBar .nbrItemPage {
    float: left;
   margin-top: 0px;
}
.content_sortPagiBar .sortPagiBar #productsSortForm {
  float: none;
}
}
.flex-control-paging li a.flex-active {
     background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    cursor: default;
}
.flex-control-paging li a {
   background: rgb(255, 255, 255) none repeat scroll 0 0;

  box-shadow: none;
}


.land-biz-product .block-title strong {
  font-weight: normal;
}

.biz-group .block-title strong span
 { 
 background: rgb(255, 255, 255) none repeat scroll 0 0;
    color: rgb(81, 81, 81);
    display: inline-block;
    font-size: 18px;
    line-height: normal;
    padding: 0 10px 0 0;
    position: relative;
  }
  .biz-group .block-title{
    line-height: normal;
    padding: 0;
    position: relative;
    text-align: left;
  }
  .biz-group-content .lab_boxnp {
    background: #fff;
  }

 
 .land-biz-product .item .topItem .lab-img .quick-view  {
  left: 25%;
  top: 25%;
 }
 .biz-group .lab_boxnp .prev, .biz-group .lab_boxnp .next {
  top: 50px;
  width: 30px;
  height: 30px;
  line-height: 30px;
 }
 .biz-group .ajax_add_to_cart_button span {
  padding: 8px 12px;
 }



/* 29-1*/
.grid_content .h5product-name a.product-name ,.product-name{
  font-weight: normal;
}

#block_contact_infos ul li {

  padding-left: 50px
}

.box-info-product .exclusive::before {
  content: "";
}
.attribute_list .selector,#productsSortForm .selector ,div.selector {
  border: 1px solid rgb(220, 220, 220);
  background-image: none;
}
.attribute_list .selector span ,#productsSortForm .selector , #productsSortForm .selector span,div.selector span{
   background-image: none;
}



#uniform-selectProductSort.selector::after ,#uniform-nb_item.selector::after ,.selector::after {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0);
    color: rgb(141, 141, 141);
    content: "";
    font-family: Fontawesome;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0;
    pointer-events: none;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 25px;
    z-index: 3;
}

.biz-group .lab-cart {
  padding-top: 20px;
}
.grid_content .lab-Wishlist {
  margin: 0 10px;
}


.content_image_cat ,.wrap_breadcrumb {
background: url(../img/lab_noraure/bg_breadcrumb.jpg) no-repeat;
}

/*.wrap_breadcrumb ,.content_scene_cat .content_scene_cat_bg{
    background-color: rgb(70, 70, 70) !important;
    min-height: 410px !important;
}*/
.wrap_breadcrumb {
  min-height: 290px!important;
}
#module-smartblog-category .breadcrumb {
  margin-top: 120px;
}
.lab_custommenu div.column.last.col1 {
    border: 1px solid rgba(0, 0, 0, 0);
}

.mean-container .mean-nav ul li a .icon-hot, .mean-container .mean-nav ul li a .icon-new {
  background: rgb(206, 150, 52) none repeat scroll 0 0;
  font-family: roboto;
}

/* cus tom 17-2  */

.breadcrumb .navigation-pipe::after {
    content: "|";
    font-family: Fontawesome;
    font-size: 14px;
    height: 100%;
    left: 0;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}

.breadcrumb .navigation-pipe {
    display: inline-block;
    font-size: 0;
    height: 16px;
    position: relative;
    vertical-align: top;
    width: 25px;
}

.breadcrumb a {
    color: #ffffff;
    display: inline;
    line-height: 20px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    line-height: 15px;
} 
    .breadcrumb a.home {
      font-size: 15px;
      color: #ffffff;
      text-align: center;
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px;
      z-index: 99;
      line-height: 15px;
      display: inline-block;
      height: 15px; }


.top-pagination-content, .bottom-pagination-content {
    text-align: center;
     display: block;
    float: right;
    height: auto;
    margin-top: 3px;
    width: 100%;
}
.box-info-product button:hover {
    background: rgb(206, 150, 52) none repeat scroll 0 0;
    color: rgb(255, 255, 255)!important;
}
.box-info-product .exclusive span:hover {
   color: rgb(255, 255, 255)!important;
} 

.pb-left-column #image-block img {
  width: auto;
}

/*23-2*/


.page-heading {
  padding: 15px 0;
}
.content_sortPagiBar .sortPagiBar {
  margin-bottom: 0;
}
.content_sortPagiBar.clearfix {
  padding: 15px 0 5px;
}
.content_sortPagiBar {
  padding: 0;
}
.top-pagination-content {
  padding-bottom: 15px;
}
#category .top-pagination-content {
    padding-bottom: 0;
}
.lablistproducts .right-block .bottomItem {
  padding: 10px 0;
  float: left;
}
.availability {
  display: block;
}
ul.product_list .availability span {
  margin-bottom: 5px;
}
.lablistproducts .right-block .bottomItem .lab-cart .button {
  margin-left:0; 
}
.list .item .right-block .comments_note {
    margin-bottom: 5px;
    bottom: 0;
    opacity: 1;
    position: relative;
    right: 0;
    text-align: left;
}
.right-block {
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 270px;
}
.block .title_block::after, .block h4.title_block::after {
  width: 45%;
}

.new-box {
  right: 30px;
    top: 15px;
}
#view_scroll_right {
  right: 18px;
}
/*.ac_results {
  position: fixed!important;
}*/

@media (max-width: 980px){
  .lab_testimonials .content_test .des_testimonial {
    padding: 0 ;
}

.top-link .container::after {
  clear: none;
}