#search_block_top {
  float: right;
  position: relative;

}

  
#search_block_top #searchbox {
    float: left;
    width: 100%;
}
#search_block_top .current {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(40, 40, 40);
    cursor: pointer;
    font-size: 14px;
    line-height: 105px;
    text-align: center;
    width: 85px;
}

#search_block_top .btn.button-search {
    background: rgb(206, 150, 52) none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    display: block;
    padding: 10px 0 11px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}


#search_block_top .toogle_content {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d6d4d4;
    display: none;
    position: absolute;
    right: 0px;
    top: 105px;
    width: 270px;
    z-index: 9;
}




      #search_block_top:hover  #search_query_top {
        display: block;
      }

    #search_block_top .btn.button-search span {
      display: none; }


  /*  #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 14px;
      width: 100%;
      text-align: center; }*/
#search_block_top .btn.button-search::before {
    content: "";
    display: block;
    font-family: "FontAwesome";
    font-size: 17px;
    text-align: center;
    width: 100%;
}

#search_block_top #search_query_top {
    background: #fbfbfb none repeat scroll 0 0;
    display: inline;
    height: 45px;
    margin-right: 1px;
    padding: 13px 60px 13px 13px;
}

    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  /*#search_block_top #search_query_top {
    background: #fbfbfb none repeat scroll 0 0;
    
    float: left;
    height: 45px;
    padding-left: 20px;
    position: absolute;
    right: -85px;
    top: 80px;
    width: 250px;
    }*/

.ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  width: 295px;
  margin-top: -1px; }
  .ac_results li {
    padding: 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }

    .ac_results li img {
      margin-right: 10px;
    }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

.ac_result:hover  #search_query_top{
  display: block;
}


form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

      @media (max-width: 1199px) {
        #search_block_top .current {
          width: 75px;
        }
      }